:root {
  --primary-1: #6CD4FF;
  --primary-1-d: #033F63;
  --primary-1-dd: #001f33;
  --primary-2: #8B80F9;
  --secondary: #EDF7F6;
  --accent-1: #CFB1B7;
  --accent-1-b: #ffe6eb;
  --accent-1-d: #ec5153;
  --accent-2: #83858C;
  --accent-2-d: #505258;
  --accent-2-b: #D2D3D5;
  --brand-title-font: "Kids Rock";
  --brand-text-font: "Roboto";
}

@font-face {
  font-family: "Kids Rock";
  src: url("/assets/fonts/kidsrock DEMO.otf");
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Regular.ttf");
}

.navbar {
  background: white;
}

.navbar.desktop {
  background-color: rgba(0,0,0,0);
}

.navbar.scrolled {
  position: fixed;
  top: 0;
  background: rgba(0,0,0,0.9)
}

.topnav, .sidebar {
  background-color: var(--secondary);
}

body {
  font-family: var(--brand-text-font)!important;
}

.logo-container, .heading {
  font-family: var(--brand-title-font)!important;
}

.heading {
  color: var(--accent-1-b);
}

.subheading {
  color: #F7F7F8;
}

.footer-nav {
  background-color: var(--primary-1-d);
}

footer {
  background-color: var(--primary-1-dd);
}

.logo-container {
  width: 30px;
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 6; /* Stay on top */
  top: 0;
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a.closebtn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  position: fixed;
  left: 0;
  top: 45%;
  font-size: 20px;
  cursor: pointer;
  background-color: rgba(40,40,40,0.4);
  color: white;
  padding: 10px 15px;
  border: none;
  z-index: 3;
}

.openbtn:hover {
  background-color: #444;
}

.hero {
  width: 100%;
  overflow: hidden;
  position: relative;
  z-index: 3;
  background: url(/assets/img/temp-bg.png);
  background-size: cover;
  background-position: center;
}

.hero video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.hero .overlay {
  background: rgba(47, 55, 74, 0.6);
  height: 100%;
  position: relative;
  z-index: 1;
}
.hero .overlay .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reservation {
  background: #6b475e;
}

.reservation form button {
  background: var(--accent-2);
}

.reservation form button:hover {
  background: var(--accent-2-d);
}

.btn.cta {
  background: var(--accent-1-b);
}

.btn.cta:hover {
  background: var(--accent-1);
}

#wwwu {
  background: var(--accent-1-b);
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center;
}

#wwwu>.row {
  background: rgba(255,255,255,0.95)
}

#wwwu ul {
  list-style-type: none;
  font-size: 1rem;
}

.activities-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 5px;
}
.benefits-grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  grid-gap: 5px;
}

.activity, .benefit {
  position: relative;
}

a.link {
  margin-top: 10px;
  padding: 5px 10px;
  text-decoration: none;
  color: var(--accent-1-d);
  font-weight: bolder;
}
a.link:hover {
  background-color: var(--accent-1);
  color: #000;
}

#reviews {
  background: brown;
}

#reviews .heading {
  position: relative;
}
#reviews .heading img {
  width: 60px;
  height: 60px;
  position: absolute;
  bottom: -45px;
  left: calc(50% - 30px);
  z-index: 2;
}

#reviews .left {
  color: black;
  background: var(--accent-1-b);
}

#reviews .right img {
  height: 70vh;
  object-fit: cover;
  object-position: center top;
}
#newsletter .right img {
  height: 30vh;
  object-fit: cover;
  object-position: center;
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
}
.accent {
  color: var(--accent-1-d);
  font-weight: bold;
}
@media screen and (min-width: 768px) {
  .reservation {
    background: rgba(0,0,0,0.5);
    border-radius: 5px;
  }
  .sidebar.open {
    width: 250px;
  }
  #main.sidebar-open {
    margin-left: 250px;
  }
  .navbar.scrolled {
    width: calc(100vw - 250px);
  }
  .activities-grid.sidebar-closed {
    /*There is more space; adjust structure of grid*/
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 1fr);
  }
  .benefits-grid.sidebar-closed {
    /*There is more space; adjust structure of grid*/
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 0.7fr 1fr;
  }
  .activities-grid.sidebar-closed .item-1 {
    grid-row: 1 / span 2;
    grid-column: 2 / 3;
  }
  .benefits-grid.sidebar-closed .item-2 {
    grid-row: 2 / 3;
    grid-column: 1 / span 2;
  }
  .activities-grid .content h1,
  .benefits-grid .content h1 {
    margin-top: 15px;
  }
  .activities-grid.sidebar-closed .content h1,
  .benefits-grid.sidebar-closed .content h1 {
    margin-top: 0;
  }
  #wwwu ul {
    font-size: 1.25rem;
  }
  #reviews .heading img {
    width: 75px;
    height: 75px;
    bottom: -50px;
    left: calc(50% - 37.5px);
  }
}
@media screen and (min-width: 992px) {
  .activities-grid {
    /*There is more space; adjust structure of grid*/
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: repeat(2, 1fr);
  }
  .benefits-grid {
    /*There is more space; adjust structure of grid*/
    grid-template-columns: repeat(2, 50%);
    grid-template-rows: 0.7fr 1fr;
  }
  .activities-grid .item-1 {
    grid-row: 1 / span 2;
    grid-column: 2 / 3;
  }
  .benefits-grid .item-2 {
    grid-row: 2 / 3;
    grid-column: 1 / span 2;
  }
  .activity img, .benefit img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
  .activity .overlay, .benefit .overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #008CBA;
  }
  .benefit .overlay {
    background-color: var(--accent-1);
  }
  .activity:hover .overlay, .benefit:hover .overlay {
    opacity: 1;
  }
  .activity .content, .benefit .content {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }
  .benefit .content {
    color: navy;
  }
  #reviews .heading img {
    width: 100px;
    height: 100px;
    bottom: -55px;
    left: calc(50% - 50px);
  }
  #wwwu {
    background: url(/assets/img/lunares.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .sidebar.open {
    width: 21vw;
  }
  #main.sidebar-open {
    margin-left: 21vw;
  }
  #reviews .heading img {
    width: 110px;
    height: 110px;
    bottom: -60px;
    left: calc(50% - 55px);
  }
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
