:root {
  --primary-1: #6CD4FF;
  --primary-1-d: #033F63;
  --primary-1-dd: #001f33;
  --primary-2: #8B80F9;
  --secondary: #EDF7F6;
  --accent-1: #CFB1B7;
  --accent-1-d: #ffe6eb;
  --accent-2: #83858C;
  --accent-2-d: #505258;
  --accent-2-b: #D2D3D5;
  --brand-title-font: "Kids Rock";
  --brand-text-font: "Roboto";
}

@font-face {
  font-family: "Kids Rock";
  src: url("/assets/fonts/kidsrock DEMO.otf");
}

@font-face {
  font-family: "Roboto";
  src: url("/assets/fonts/Roboto-Regular.ttf");
}

.navbar {
  background: white;
}

.navbar.desktop {
  background-color: rgba(0,0,0,0);
}

.navbar.scrolled {
  position: fixed;
  top: 0;
  background: rgba(0,0,0,0.9)
}

.topnav, .sidebar {
  background-color: var(--secondary);
}

body {
  font-family: var(--brand-text-font)!important;
}

.logo-container, .heading {
  font-family: var(--brand-title-font)!important;
}

.heading {
  color: var(--accent-1-d);
}

.subheading {
  color: #F7F7F8;
}

.footer-nav {
  background-color: var(--primary-1-d);
}

footer {
  background-color: var(--primary-1-dd);
}

.logo-container {
  width: 30px;
}

/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 6; /* Stay on top */
  top: 0;
  left: 0;
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a.closebtn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidebar a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidebar .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* The button used to open the sidebar */
.openbtn {
  position: fixed;
  left: 0;
  top: 45%;
  font-size: 20px;
  cursor: pointer;
  background-color: rgba(40,40,40,0.4);
  color: white;
  padding: 10px 15px;
  border: none;
  z-index: 3;
}

.openbtn:hover {
  background-color: #444;
}

.hero {
  width: 100%;
  overflow: hidden;;
  position: relative;
}

.hero video {
  position: absolute;
  top: 0;
  left: 0;
  object-fit: cover;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

.hero .overlay {
  background: rgba(47, 55, 74, 0.6);
  height: 100%;
  position: relative;
  z-index: 1;
}
.hero .overlay .content {
  display: flex;
  justify-content: center;
  align-items: center;
}

.reservation {
  background: rgba(0,0,0,0.5);
  border-radius: 5px;
}

.reservation form button {
  background: var(--accent-2);
}

.reservation form button:hover {
  background: var(--accent-2-d);
}

.btn.cta {
  background: var(--accent-1-d);
}

.btn.cta:hover {
  background: var(--accent-1);
}

/* Style page content - use this if you want to push the page content to the right when you open the side navigation */
#main {
  transition: margin-left .5s; /* If you want a transition effect */
}
@media screen and (min-width: 768px) {
  .sidebar.open {
    width: 250px;
  }
  #main.sidebar-open {
    margin-left: 250px;
  }
  .navbar.scrolled {
    width: calc(100vw - 250px);
  }
}
@media screen and (min-width: 1200px) {
  .sidebar.open {
    width: 21vw;
  }
  #main.sidebar-open {
    margin-left: 21vw;
  }
}


/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
