<div id="carousel">
  <div class="row justify-content-center mx-0 py-5 bg-dark">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
      <div class="carousel-indicators">
        {{ range $idx, $rsc := .Resources.Match "carousel*" }}
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{$idx}}" {{if eq $idx 0}}class="active" aria-current="true"{{end}} aria-label="Slide {{add $idx 1}}"></button>
        {{ end }}
      </div>
      <div class="carousel-inner">
        {{ range $idx, $rsc := .Resources.Match "carousel*" }}
        {{/* $image := $rsc.Resize "600x" */}}
        <div class="carousel-item {{if eq $idx 0}}active{{end}} text-center">
          <img src="/.netlify/large-media/{{$rsc.RelPermalink}}?nf_resize=fit&w=600" class="d-inline-block img-fluid" alt="">
        </div>
        {{ end }}
      </div>
      <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
      </button>
      <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
      </button>
    </div>
  </div>
</div>