<div id="carousel" class="row justify-content-center mx-0 pt-2 pb-5 py-md-5">
  <div class="col-md-10 my-2 my-md-5 px-0 px-md-2">
    <div class="row mx-0 justify-content-center justify-content-xl-between">
      <div class="col-lg-6 col-xl-5 d-flex flex-column justify-content-center">
        <h1 class="ms-3 fs-2 ms-md-0 pe-lg-3 pe-xl-0 text-md-center mb-3">We are professionals and passionate</h1>
        <a href="/gallery" class="btn btn-primary align-self-center d-none d-lg-inline-block">See more pictures</a>
      </div>
      <div class="col-lg-6 col-xl-6 d-flex flex-column justify-content-center">
        <div id="carouselExampleIndicators" class="carousel slide carousel-fade" data-bs-ride="carousel">
          <div class="carousel-indicators">
            {{ range $idx, $rsc := .Resources.Match "carousel*" }}
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="{{$idx}}" {{if eq $idx 0}}class="active" aria-current="true"{{end}} aria-label="Slide {{add $idx 1}}"></button>
            {{ end }}
          </div>
          <div class="carousel-inner">
          {{ range $idx, $rsc := .Resources.Match "carousel*" }}
            {{ $imageSrc := printf "%s?%s" $rsc.RelPermalink "nf_resize=fit&w=600" }}
            {{ if $.Site.IsServer }}
              {{ $imageSrc = ($rsc.Resize "600x").Permalink }}
            {{ end }}
            <div class="carousel-item {{if eq $idx 0}}active{{end}} text-center">
              <img src="{{ $imageSrc }}" class="d-inline-block img-fluid" alt="">
            </div>
          {{ end }}
          </div>
        </div>
        <a href="/gallery" class="btn btn-primary d-inline-block d-lg-none mt-3">See more pictures</a>
      </div>
    </div>
  </div>
</div>