<div class="row justify-content-center mx-0 py-5 footer-nav">
  <div class="col-lg-10 my-5 px-lg-0 row justify-content-between">
    <div class="col-12 col-sm-6 col-md-4 d-flex flex-column">
      <h3 class="fw-bold text-orange-2">Office Contact</h3>
      <hr class="decorative mt-1">
      <p class="text-light"><i class="bi bi-geo-alt-fill me-3 text-light"></i>123 Street, New York, USA</p>
      <p class="text-light"><i class="bi bi-telephone-fill me-3 text-light"></i>+012 345 6789</p>
      <p class="text-light"><i class="bi bi-envelope-fill me-3 text-light"></i>info@example.com</p>
      <div class="d-flex flex-wrap text-light mb-3 mb-md-0">
        <a href="#" class="border border-light rounded mx-1 d-flex align-items-center justify-content-center p-2 p-md-3 text-decoration-none text-light"><i class="fab fa-twitter fs-5 d-flex align-items-center"></i></a>
        <a href="#" class="border border-light rounded mx-1 d-flex align-items-center justify-content-center p-2 p-md-3 text-decoration-none text-light"><i class="fab fa-facebook-square fs-5 d-flex align-items-center"></i></a>
        <a href="#" class="border border-light rounded mx-1 d-flex align-items-center justify-content-center p-2 p-md-3 text-decoration-none text-light"><i class="fab fa-youtube fs-5 d-flex align-items-center"></i></a>
        <a href="#" class="border border-light rounded mx-1 d-flex align-items-center justify-content-center p-2 p-md-3 text-decoration-none text-light"><i class="fab fa-instagram fs-5 d-flex align-items-center"></i></a>
        <a href="#" class="border border-light rounded mx-1 d-flex align-items-center justify-content-center p-2 p-md-3 text-decoration-none text-light"><i class="fab fa-linkedin fs-5 d-flex align-items-center"></i></a>
      </div>
    </div>
    <div class="col-12 col-sm-6 col-md-4 d-flex flex-column">
      <h3 class="fw-bold text-orange-2">Services Areas</h3>
      <hr class="decorative mt-1">
      <a class="text-light text-decoration-none mb-3" href="#"><i class="bi bi-arrow-right-short me-3 text-light"></i>Building Construction</a>
      <a class="text-light text-decoration-none mb-3" href="#"><i class="bi bi-arrow-right-short me-3 text-light"></i>House Renovation</a>
      <a class="text-light text-decoration-none mb-3" href="#"><i class="bi bi-arrow-right-short me-3 text-light"></i>Architecture Design</a>
      <a class="text-light text-decoration-none mb-3" href="#"><i class="bi bi-arrow-right-short me-3 text-light"></i>Interior Design</a>
      <a class="text-light text-decoration-none mb-3" href="#"><i class="bi bi-arrow-right-short me-3 text-light"></i>Painting</a>
    </div>
    <div class="col-12 col-sm-6 col-md-4 d-inline-flex flex-column">
      <h3 class="fw-bold text-orange-2">Useful pages</h3>
      <hr class="decorative mt-1">
      <a class="text-light text-decoration-none mb-3" href="#"><i class="bi bi-arrow-right-short me-3 text-light"></i>About us</a>
      <a class="text-light text-decoration-none mb-3" href="#"><i class="bi bi-arrow-right-short me-3 text-light"></i>Services</a>
      <a class="text-light text-decoration-none mb-3" href="#"><i class="bi bi-arrow-right-short me-3 text-light"></i>Gallery</a>
      <a class="text-light text-decoration-none mb-3" href="#"><i class="bi bi-arrow-right-short me-3 text-light"></i>Contact us</a>
    </div>
  </div>
</div>