<!-- mobile navbar -->
<nav class="navbar sticky-top navbar-expand-md navbar-light text-uppercase pt-0 pt-md-1 pb-0 d-md-none">
  <div class="container-fluid justify-content-center px-0">
    <div class="navbar-info d-md-none w-100 align-items-center d-flex justify-content-between px-3 py-1">
      <a href="#" class="navbar-brand logo-container text-dark text-capitalize d-flex align-items-center">
        <img alt="" width="30" class="d-inline-block align-text-top me-2" src="{{"assets/img/letter-block-toy-pngrepo-com.png" | relURL}}">
        The kindergarten
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav w-100 justify-content-center ps-3">
        <li class="nav-item">
          <a class="nav-link text-dark text-capitalize active" aria-current="page" href="#">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark text-capitalize" href="#">about us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark text-capitalize" href="#">services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark text-capitalize" href="#">gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark text-capitalize" href="#">contact us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
