<div class="d-flex flex-column d-md-none px-3 py-2 topnav">
  <div class="">
    <p class="m-0">Call us now: <span class="fw-bold">+1 234 456 78910</span></p>
  </div>
  <div class="d-flex flex-column justify-content-center">
    <div class="d-flex">
      <a href="#" class="me-3 text-decoration-none text-light"><i class="fab fa-facebook-square fs-5 d-flex align-items-center"></i></a>
      <a href="#" class="me-3 text-decoration-none text-light"><i class="fab fa-twitter fs-5 d-flex align-items-center"></i></a>
      <a href="#" class="me-3 text-decoration-none text-light"><i class="fab fa-instagram fs-5 d-flex align-items-center"></i></a>
      <a href="#" class="me-3 text-decoration-none text-light"><i class="fab fa-linkedin fs-5 d-flex align-items-center"></i></a>
    </div>
  </div>
  <div>
    <p class="mb-0">Opening Hour: <span class="fw-bold">8:00 - 17:30 (Mon - Fri)</span></p>
  </div>
</div>
<nav class="navbar sticky-top navbar-expand-md navbar-light text-uppercase pt-0 pt-md-1 pb-0">
  <div class="container-fluid justify-content-center px-0">
    <div class="navbar-info d-md-none w-100 align-items-center d-flex justify-content-between px-3 py-1">
      <a href="#" class="navbar-brand logo-container text-dark text-capitalize d-flex align-items-center">
        <img alt="" width="30" class="d-inline-block align-text-top me-2" src="assets/img/letter-block-toy-pngrepo-com.png">
        The kindergarten
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </div>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav w-100 justify-content-center ps-3">
        <li class="nav-item">
          <a class="nav-link text-dark text-capitalize active" aria-current="page" href="#">home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark text-capitalize" href="#">about us</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark text-capitalize" href="#">services</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark text-capitalize" href="#">gallery</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-dark text-capitalize" href="#">contact us</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
