<div id="newsletter" class="row justify-content-center flex-md- mx-0 pt-2 pb-lg-5">
  <div class="col-lg-10 row px-0 shadow mx-0">
    <div class="col-lg-6 px-0 d-flex flex-column justify-content-center align-items-center mb-3 mb-lg-0">
      <h1 class="text-center heading text-dark px-lg-2 mb-lg-3">Join our newsletter</h1>
      <form class="d-flex w-100">
        <div class="w-100 px-3">
          <label for="inputEmail" class="visually-hidden">Password</label>
          <input type="email" class="form-control" id="inputEmail" placeholder="Your email address">
        </div>
        <div class="pe-3">
          <button type="submit" class="btn btn-primary w-100">Subscribe</button>
        </div>
      </form>
    </div>
    <div class="col-lg-6 d-flex flex-column justify-content-center px-0 right">
      {{ $rsc := .Resources.GetMatch "newsletter" }}
      {{ $imageSrc := printf "%s?%s" $rsc.RelPermalink "nf_resize=fit&w=600" }}
      {{ if $.Site.IsServer }}
        {{ $imageSrc = ($rsc.Resize "600x").Permalink }}
      {{ end }}
      <img src="{{$imageSrc}}" class="img-fluid">
    </div>
  </div>
</div>