<div id="social" class="row justify-content-center mx-0 pt-5 pb-2">
  <div class="col-md-10 my-3 row">
    <div class="col-12 heading mb-5">
      <h1 class="text-center text-dark">Follow us on social media</h1>
    </div>
    <div class="col d-flex flex-column flex-md-row justify-content-around">
    {{ range .Site.Data.social }}
      <a href="{{.link}}" class="link d-flex align-items-center mb-3 mb-md-0">
        <i class="{{.icon}} text-dark"></i>
        <span class="d-inline d-md-none ms-3">{{.desc | safeHTML}}</span>
      </a>
    {{ end }}
    </div>
  </div>
  <div class="col-md-10 desc pt-2">
  {{ range .Site.Data.social }}
    <p class="px-4 py-2">{{.desc | safeHTML}}</p>
  {{ end }}
  </div>
</div>

<style type="text/css">
  #social a {
    text-decoration: none;
  }
  #social i {
    color: black;
    font-size: 50px;
  }
  #social a:hover {
    color: var(--accent-1-d)!important;
    background: none!important;
  }
  #social a:hover i {
    color: var(--accent-1-d)!important;
  }
  #social .desc {
    display: grid;
    grid-template-columns: 180px;
    justify-content: center;
  }
  #social .desc p {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    padding: 0 5px;
    text-align: center;
    border: 3px solid var(--accent-1-d);
    font-weight: bolder;
    color: var(--accent-1-d);
    visibility: hidden;
  }
</style>
