<div id="wwwu">
  <div class="row justify-content-center mx-0 py-5">
    <div class="col-md-10 my-5">
      <div class="row justify-content-between">
        <div class="col-lg-6">
          <h1>{{.Params.wwwu.heading}}</h1>
          <p class="fs-5 text-muted">{{.Params.wwwu.content}}</p>
          <ul class="fs-5">
            {{ range .Params.wwwu.benefits }}
            <li>
              <i class="bi bi-check2-circle me-2"></i>{{. | safeHTML}}
            </li>
            {{ end }}
          </ul>
        </div>
        <div class="col-lg-5">
          <div class="benefits-grid mb-2">
          {{ range $idx, $rsc := .Resources.Match "benefit*" }}
            {{ $imageSrc := printf "%s?%s" $rsc.RelPermalink "nf_resize=fit&w=600" }}
            {{ if $.Site.IsServer }}
              {{ $imageSrc = ($rsc.Resize "600x").Permalink }}
            {{ end }}
            <div class="benefit item-{{$idx}} mb-4 mb-md-0 d-flex flex-column-reverse d-lg-block">
              <img src="{{ $imageSrc }}" class="img-fluid">
              <div class="overlay">
                <div class="content w-100">
                  <h1 class="fs-5 mb-1">{{$rsc.Title}}</h1>
                  <p class="small mb-1">{{$rsc.Params.desc}}</p>
                </div>
              </div>
            </div>
          {{ end }}
          </div>
        </div>
      </div>
    </div>
  </div>
</div>